# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/.idea/
/tests-tmp/
# Version file is generated during the build:
/src/main/resources/ghpush-version.txt
